.sidebar.animated.fadeInDown
  .logo-title
    .title
      img(border="0",src=url_for('images/logo@2x.png'),style="width:127px;")
      h3(title="")
        a(href="/")= config.title
      if theme.description
        .description
          p= theme.description

  ul.social-links
    if theme.github
      li
        a(href="https://github.com/" + theme.github)
          i.fa.fa-github
    if theme.linkedin
      li
        a(href="https://www.linkedin.com/in/" + theme.linkedin)
          i.fa.fa-linkedin  
    if theme.youtube
      li
        a(href="https://www.youtube.com/user/" + theme.youtube)
          i.fa.fa-youtube       
    if theme.instagram
      li
        a(href="http://instagram.com/" + theme.instagram)
          i.fa.fa-instagram
    if theme.twitter
      li
        a(href="https://twitter.com/" + theme.twitter)
          i.fa.fa-twitter
    if theme.rss
      li
        a(href= url_for(theme.rss))
          i.fa.fa-rss
    if theme.weibo
      li
        a(href="http://weibo.com/" + theme.weibo)
          i.fa.fa-weibo
  include footer
